<!DOCTYPE html>
<html>
    <head>
        <% include partials/header.ejs %>
        <title><%= title %></title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        
          <div class="jumbotron">
            <h1>Join the Movement!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend nunc augue, eu efficitur lectus imperdiet non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
          </div>

          <div class="row marketing">
            <div class="col-lg-6">
              <h4>Read up!</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            </div>

            <div class="col-lg-6">
              <h4>Link up!</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            </div>
          </div>

        <% include partials/footer.ejs %>
        </div> <!-- /container -->
        <% include partials/loadscript.ejs %>
    </body>
</html>