<!DOCTYPE html>
<html>
    <head>
        <% include partials/header.ejs %>
        <title><%= title %></title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        
        <% include partials/carousel.ejs %>
        <% include partials/columns.ejs %>

        <% include partials/footer.ejs %>
        
        <% include partials/loadscript.ejs %>
    </body>
</html>